
.navbar{
    opacity: 0.7;
}
.t{
    color: cyan;
}
.cardContainer{
    width:auto;
}
button.save{
    display: none;
}

.ip-element {
    display: none;
    width: 50%;
}
.ip-element input {
   width: auto;
}